# Documents (ignored since we now load them from Vercel Blob)
*.pdf
*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.txt
/PDF/

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.ico
*.eps
*.ai
*.drawio

# OS / System Files
.DS_Store
Thumbs.db

# Editor / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
